:root {
  font-family: Comic Sans MS, Comic Sans, cursive;
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  /* background-color: white; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

